[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "==1.7.5"
black = "==23.7.0"
coverage = "==7.3.1"
isort = "==5.12.0"
mypy = "==1.5.1"
nose2 = ">=0.13.0"
panther-core = "==0.5.0"
pyfakefs = "==5.2.4"
pylint = "==2.17.5"
PyYAML = "==6.0.1"
responses = "*"
twine = "*"
typed-ast = { version = "==1.4.3", markers = "python_version < '3.8' and implementation_name == 'cpython'" }
types-python-dateutil = "*"
types-requests = "*"

[packages]
"ruamel.yaml.clib" = "==0.2.7"
"ruamel.yaml" = "==0.17.32"
boto3 = "==1.28.44"
botocore = "==1.31.44"
certifi = "==2023.7.22"
chardet = "==5.2.0"
contextlib2 = "==21.6.0"
decorator = "==5.1.1"
dill = "==0.3.7"
dynaconf = "==3.2.2"
gql = { extras = ["aiohttp"], version = "==3.4.1" }
graphql-core = "==3.2.3"
idna = "==3.4"
jmespath = "==1.0.1"
jsonlines = "==4.0.0"
jsonpath-ng = "==1.5.3"
jsonschema = "4.19.0"
nested-lookup = "==0.2.25"
packaging = "==23.1"
ply = "==3.11"
policyuniverse = "==1.5.1.20230817"
python-dateutil = "==2.8.2"
requests = "==2.31.0"
s3transfer = "==0.6.2"
schema = "==0.7.5"
semver = "==2.13.0"
six = "==1.16.0"
sqlfluff = "==2.3.1"
typing-extensions = "==4.7.1"
urllib3 = "==1.26.16"
wrapt = "==1.15.0"

[requires]
python_version = "3.11"
