# functional dependencies
boto3==1.17.5
jsonpath-ng==1.5.2
ruamel.yaml==0.16.12
schema==0.7.4
semver==2.13.0
# ci dependencies
bandit==1.7.0
mypy==0.800
pylint==2.6.0
pyfakefs==4.3.3
yapf==0.30.0
nose==1.3.7
PyYAML==5.4.1
## The following requirements were added by pip freeze:
astroid==2.4.2
botocore==1.20.5
contextlib2==0.6.0.post1
ddt==1.2.1
decorator==4.4.2
gitdb==4.0.5
gitdb2==2.0.5
GitPython==3.1.11
importlib-metadata==3.3.0
isort==5.6.4
jmespath==0.10.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
mypy-extensions==0.4.3
-e git+git@github.com:panther-labs/panther_analysis_tool.git@e1e3e63f43307598b81704ea057dfbc1861622a8#egg=panther_analysis_tool
pbr==5.5.1
ply==3.11
python-dateutil==2.8.1
ruamel.yaml.clib==0.2.2
s3transfer==0.3.3
six==1.15.0
smmap==3.0.4
smmap2==2.0.5
stevedore==3.3.0
toml==0.10.2
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.26.2
wrapt==1.12.1
zipp==3.4.0
