on:
  push

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0
      - name: Setup Python
        uses: actions/setup-python@v4.3.0
        with:
          python-version: 3.9.15
      - name: Install pipenv
        run: make install-pipenv
      - name: Setup Virtual Environment
        run: make venv
      - name: Install Core Utilities
        run: make install
      - name: Install Dependencies
        run: make deps
      - name: Install Panther CLI
        run: pipenv run -- pip3 install -e .
      - name: Run CLI Tests
        run: make ci
      - name: Format
        run: make fmt

    fmt:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v3.1.0
        - name: Setup Python
          uses: actions/setup-python@v4.3.0
          with:
            python-version: 3.9.15
        - name: Install pipenv
          run: make install-pipenv
        - name: Install
          run: make install
        - name: Format
          run: make fmt
        - name: Commit formatting
          uses: stefanzweifel/git-auto-commit-action@v4
          with:
            commit_message: Automatically commit format changes

