name: Version Bump PR

on:
  workflow_dispatch:

jobs:
  release_pr:
    runs-on: ubuntu-latest

    steps:
    - name: Check out the repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Bump version
      id: bump_version
      run: |
        export NEW_VERSION=$(cat VERSION | awk -F. '{printf "%s.%d.0", $1, $2+1}')
        echo "NEW_VERSION=$NEW_VERSION" >> $GITHUB_ENV
        echo "new_version=$NEW_VERSION" >> $GITHUB_OUTPUT
        echo $NEW_VERSION > VERSION
        sed -i "s/VERSION_STRING: Final = \"[0-9]*\.[0-9]*\.[0-9]*\"/VERSION_STRING: Final = \"$NEW_VERSION\"/" panther_analysis_tool/constants.py

    - name: Create Branch and Pull Request
      run: |
        NEW_VERSION="${{ steps.bump_version.outputs.new_version }}"
        git config user.name "dac-bot"
        git config user.email "dac-bot@panther.com"
        git checkout -b "$NEW_VERSION"
        git commit -a -m "Bump version to $NEW_VERSION"
        git push --set-upstream origin "$NEW_VERSION"
        gh pr create -t "Version bump to v$NEW_VERSION"
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
